.build/
*.d
*.o
*.swpd
*.swp
.DS_Store
**/data.mdb
**/xcuserdata/
**/.swiftpm/
build
client/Packages/IMCore/Sources/IMCore/BuildInfo.swift
server/im-server
server/coverage.out
server/handler_cov.out
server/config/rsa_key.pem
server/config/config.yaml
.venv
.omo